{% extends 'base.html.twig' %}

{% block title %}Modification produit
{% endblock %}

{% block body %}

	<div class="container mt-3">
		<a href="{{ path('index_crud_products') }}">
			<button type="button" class="btn btn-info">Retour</button>
		</a>

		<h1 class="my-3">Modification d'un produit</h1>

		{{ form(form) }}
		</div>
	{% endblock %}
